{% extends "base.html" %}

{% block content %}

<div class="column is-6 is-offset-3">
    <h3 class="title">Your Account</h3>

    {% if message %}
        <h4 class="subtitle is-4">
            {{ message }}
        </h4>
    {% endif %}

    <div class="box">
        <table class="table">
        <tbody>
            <tr>
                <th>Account No.</th>
                <th>{{ acc_no }}</th>
            </tr>
            <tr>
                <th>Email</th>
                <th>{{ email }}</th>
            </tr>
            <tr>
                <th>First Name</th>
                <th>{{ firstname }}</th>
            </tr>
            <tr>
                <th>Last Name</th>
                <th>{{ lastname }}</th>
            </tr>
            <tr>
                <th>Phone No.</th>
                <th>{{ phone }}</th>
            </tr>
            <tr>
                <th>
                    <a href="{{ url_for('users.change_password') }}" class="navbar-item">
                        <u>Change Password</u>
                    </a>
                </th>
            </tr>
        </tbody>
        </table>
    </div>
</div>


{% endblock %}